name: ci pipeline
on:
  pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./codebase/rdicidr-0.1.0

    steps:
    - uses: action/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '15'
    - run: npm install
    - run: npm run lint
    - run: npm run prettier
    - run: npm test
      env:
        CI: true
    - run: npm run build